@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  background: #0a377e;
  margin: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #F2F2F2;
  font-size: 62.5%; }

.container {
  padding: 2.4rem 3.4rem; }

* {
  font-family: "Raleway", sans-serif; }

.title-1 {
  font-size: 4.8rem;
  margin: 0;
  margin-bottom: 3rem; }

.title-2 {
  font-size: 3.2rem;
  width: 100%;
  border-bottom: 1px solid #000; }

.aside {
  float: left;
  margin-right: 3.4rem; }

.list-menu {
  list-style-type: none; }
  .list-menu-icon {
    width: 2rem;
    height: 2rem; }
    .list-menu-icon:hover {
      fill: #7E93BD; }
  .list-menu-item {
    font-size: 2rem;
    margin-bottom: 2.1rem; }
    .list-menu-item a {
      text-decoration: none;
      color: #000; }
      .list-menu-item a:hover {
        color: #7E93BD; }

.list-menu-item:hover .icon-fill {
  fill: #7E93BD; }

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40rem 40rem 40rem;
  row-gap: 3rem;
  column-gap: 3rem; }

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1.1rem;
  box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.25);
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .card-title {
    font-size: 2rem;
    position: absolute;
    bottom: 0;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.1rem; }
    .card-title svg {
      cursor: pointer;
      width: 1.7rem;
      height: 1.7rem; }
  .card_new {
    background-color: #7E93BD; }
    .card_new > .card-title {
      color: #fff;
      text-align: center; }

.desk {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 35rem;
  width: 100%;
  height: 100%;
  float: both;
  background-color: #fff;
  padding: 2.4rem 3.7rem;
  margin-bottom: 2rem;
  align-content: center; }
  .desk-tab {
    margin-bottom: 2.6rem;
    border: 1px solid #000;
    text-align: center; }
  .desk-area {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0.5rem; }

.tab {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0.5rem; }

.note-create {
  display: none;
  position: absolute;
  top: 53%;
  left: 54%; }

textarea {
  box-shadow: 10px 10px 24px 0 rgba(0, 0, 0, 0.75);
  width: 275px;
  border: none;
  height: 275px;
  padding: 40px 25px 25px 25px;
  background-color: #7E93BD;
  color: #fff;
  outline: none; }
  textarea svg {
    fill: #fff; }

#check-icon {
  position: absolute;
  right: 17%;
  top: 4%; }

#x-icon {
  position: absolute;
  right: 5%;
  top: 4%; }

.dropdown {
  min-width: 10rem;
  position: relative; }

.select {
  background-color: #2a2f3b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #2a2f3b;
  border-radius: 1.1rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s; }

.select:hover {
  background-color: #323741; }

.caret {
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.6rem solid #fff;
  transition: 0.3s; }

.caret-rotate {
  transform: rotate(180deg); }

.menu {
  list-style: none;
  margin-top: 1rem;
  padding: 0.2rem 0.5rem;
  background-color: #323741;
  border: 1px #363a43 solid;
  box-shadow: 0 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  color: #9fa5b5;
  position: absolute;
  top: 3rem;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: -1; }
  .menu li {
    padding: 0.7rem 0.5rem;
    margin: 0.3rem 0;
    border-radius: 0.5rem;
    cursor: pointer; }
    .menu li:hover {
      background-color: #2a2D35;
      cursor: pointer; }

.active {
  background-color: #23242a; }

.menu-open {
  display: block;
  opacity: 1; }

.form {
  text-align: center;
  padding: 3rem 5.2rem;
  margin: 2rem auto;
  max-width: 50rem;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0.4rem 0.8rem 2.9rem rgba(0, 0, 0, 0.25); }
  .form_reg {
    height: auto; }
  .form-btn {
    width: 100%;
    border-radius: 0.7rem;
    outline: none;
    box-shadow: 0.3rem 0.2rem 0.8rem rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 1.7rem;
    padding: 1.1rem;
    color: #000;
    margin-bottom: 2rem;
    transition: transform 0.05s;
    margin-top: 2rem; }
    .form-btn:hover {
      background-color: #e1e1e1; }
    .form-btn:active {
      background-color: #cbcbcb;
      transform: scale(1.05); }
    .form-btn_submit {
      background-color: #7E93BD;
      color: #fff;
      margin-top: 0; }
      .form-btn_submit:hover {
        background-color: #6180bf; }
      .form-btn_submit:active {
        background-color: #3e5179; }
  .form-input {
    width: 100%;
    padding: 1.1rem 0.9rem;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    border-radius: 0.7rem;
    outline: none;
    border: 1px solid #7A7A7A; }
    .form-input:focus {
      color: #547CCA;
      border-color: #547CCA; }
  .form-checkbox {
    width: 2rem;
    height: 2rem;
    margin-right: 0.6rem; }
    .form-checkbox-label {
      font-size: 1.7rem;
      color: #000; }
  .form-span {
    font-size: 1.7rem; }

.checkbox {
  margin-bottom: 2rem;
  display: flex;
  align-items: center; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.1rem; }
  .header-logo {
    width: 7.4rem;
    height: 6.6rem; }

.account-group {
  display: flex;
  align-items: center; }

.bell {
  margin-right: 0.9rem;
  width: 2.2rem;
  height: 2.4rem; }

.user-avatar {
  width: 6.2rem;
  height: 6.2rem;
  background-color: #656565;
  border-radius: 50%;
  object-fit: cover; }

.button-group {
  display: flex; }

.btn {
  display: flex;
  align-items: center;
  padding: 1.4rem 2.8rem;
  border-radius: 1.1rem;
  border: 1px solid #547CCA;
  color: #7E93BD;
  text-decoration: none;
  font-size: 1.8rem;
  width: 50%; }
  .btn-desk {
    width: 100%;
    text-align: center;
    justify-content: center; }
  .btn-icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.9rem; }
    .btn-icon_1 {
      width: 1.7rem;
      height: 1.7rem; }
  .btn:first-child {
    margin-right: 1.7rem; }
  .btn_ref {
    background-color: #7E93BD;
    color: #fff; }

.search-panel {
  padding: 1.1rem 1.7rem;
  border-radius: 1.1rem;
  box-shadow: 0.2rem 0.6rem 1.9rem -0.7rem rgba(0, 0, 0, 0.25);
  background-color: #fff;
  width: 40%;
  max-width: 50rem;
  display: flex;
  align-items: center; }
  .search-panel-icon {
    margin-right: 0.9rem; }
  .search-panel-input {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.8rem; }

.main {
  width: 100%;
  height: 100%; }
  .main_desk {
    width: 76%;
    float: right; }

/*# sourceMappingURL=style.css.map */
